#div1{
 background-color:#e0e0d2 ;
 font-size: 20;
 font-family: 'Courier New', monospace;
}
#input1{
 width: 70%;
 margin-left: 20%;
 margin-top: 0%;
}
#submit{
 margin-left: 50%;
 margin-top: 2px;
}

